*{
    margin: 0;
    padding: 0;
    color: gray;
}
#root{
    background: black;
}
.container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 100vh;
}
#btn{
    height: 50px;
    color:white;
    background: brown;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
   
}
#controls{
    height: 200px;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin: 30px;
}
.show{
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap:0.5rem;  
    margin-bottom: 20px; 
    margin-top: 30px; 
}
.icon{
    position: absolute;
    left:5%;
    font-size: 30px;
}
#output{
    border-radius: 5px;
    height: 50px;
    width: 80%;
    outline: none;
    border: none;
    font-size: 30px;
    text-align: ;
    padding-left: 12%;
    
}
#copy{
    border-radius: 5px;
    border: 0;
    outline: 0; 
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.tost-massage{
    position: fixed;
    height: 30px;
    right:2rem;
    top: 2rem;
    background: #00ff18;
    color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}
.tost-massage-in{
    animation: tost-massage-in 0.5s ease-out;
}

.tost-massage-out{
    animation: tost-massage-out 0.5s ease-in;
}
@keyframes tost-massage-in {
    from{
       transform: translateX(200px); 
       opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes tost-massage-out {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateX(200px);
    }
}