*{
    margin: 0;
    padding: 0;
}
:root{
    --bgColor:white;
}

.container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn{
    margin:30px auto;
    height: 100px;
    width: 300px;
    color:white;
    background: brown;
    display: inline-block;
    font-size: 40px;
    border: none;
    outline: none;
    border-radius: 20%;
}
